img {
  max-height: 150px;
}

.playButton {
  background-color:blue;
  color:white;
  border-style:none;
  height:100px;
  width:200px;
  font-size: 2em;
  box-shadow: 2px 2px 2px black;
}

.playButton:hover {
  background-color:darkblue;
  color:grey
}
